In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spam.csv")
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
category = pd.get_dummies(df.Category)
category

      ham  spam
0       1     0
1       1     0
2       0     1
3       1     0
4       1     0
...   ...   ...
5567    0     1
5568    1     0
5569    1     0
5570    1     0
5571    1     0

[5572 rows x 2 columns]

In [4]:
df["spam"] = category["spam"]
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [5]:
inputs = df["Message"]
target = df["spam"]

In [8]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.3)

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

v = CountVectorizer()

In [23]:
X_train_count = v.fit_transform(list(X_train))

In [24]:
X_train

339                                Sorry, I'll call later
4627    Lol ... I knew that .... I saw him in the doll...
5292    Urgent! Please call 09061213237 from landline....
2647    Em, its olowoyey@ usc.edu have a great time in...
4612                                   Wat time ü finish?
                              ...
974                          what is your account number?
4040    I cant pick the phone right now. Pls send a me...
3399      It only does simple arithmetic not percentages.
1307    Enjoy the jamster videosound gold club with yo...
769     I cant pick the phone right now. Pls send a me...
Name: Message, Length: 3900, dtype: object

In [25]:
from sklearn.naive_bayes import MultinomialNB

In [26]:
model = MultinomialNB()

In [28]:
model.fit(X_train_count, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [29]:

emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=uint8)

In [31]:
model.score(v.transform(X_test), y_test)

0.9838516746411483

In [32]:
# sklearn pipeline

In [33]:
from sklearn.pipeline import Pipeline

In [34]:
model = Pipeline([("vectorizer",CountVectorizer()), ("nb", MultinomialNB())])

In [35]:
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [36]:
model.score(X_test, y_test)

0.9838516746411483